<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="WebsiteUrl" value="https://localhost:44318/"/>
    <add key="ConnectionString" value="Server=.\sqlexpress; Initial Catalog=TeamHolidayPlanner; Trusted_Connection=True;"/>
    <add key="DataFilePath" value="Data\Database.sql" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
</configuration>