
@model TeamHolidayPlanner.Web.Models.LoginModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>&nbsp;</p>
                <input type="submit" value="Create" class="btn btn-primary" /> &nbsp;
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@if (ViewData["LoginResponse"] != null)
{
    <div class="alert alert-danger">@ViewData["LoginResponse"]</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
