@{
    ViewData["Title"] = "Home Page";
}


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Team Holiday Planner</h1>
        <p class="lead text-muted">Time for a break? Why don't you book a holiday?</p>
        <p>&nbsp;</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Request a new holiday</a>
            <a href="#" class="btn btn-secondary my-2">Review existing holidays</a>
        </p>
    </div>
</section>
